.MapHolder {
    display: inline-block;
    align-items: center;
    width: 70%;
    
    padding: 15px;
    height:100%;
}

.GameRegion {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    display: flex;
}

.GameDetails {
    height:100%;
    display: inline-block;
}