.Player {
    background-color: gray;
    min-width: 23% !important;
    max-width: 23% !important;
    height: 40%;
    margin: 1%;
    display:flex;

    flex-flow:column;
    align-items:center;
    position: relative;
    border-radius: 5px;
}

.PlayerUnassigned {
    border-style: dashed;
    background-color: white;
}

.PlayerUnassigned::after {
    position:absolute;
    top: 47%;
    content: "+";
    font-size: 2.2em;
}

.Player header, .Player footer {
    width: 100%;
    
}


.Player footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.Nickname {

}

.Mine {
    border: 2px solid red;
}