.player-list {
    display:flex;
    flex-flow:column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.hamburger-button {
    position: absolute;
    bottom:0;
    left:0;
    margin-left: 3px;
    margin-bottom: 3px;
    border-radius:50px;
    z-index: 9999;
    padding:8px;
    background-color: blue;
    outline: none;
    width:125px;
    height:125px;
}

.hamburger-button:active {
    border: 0px;
}

.hamburger-icon {
    fill: white;
    height:100%;
    width: 100%;
}